* {
    font-family: 'Arial';
    orientation: Center;
}

#bugs {
}

#bugs>.slide-content {
}

section#bugs div.step {
}

#bugs-label {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#bugs-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#bugs-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#s1 {
}

#s1>.slide-content {
}

section#s1 div.step {
}

#s1-label {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#s1-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#s1-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#s2 {
}

#s2>.slide-content {
}

section#s2 div.step {
}

#s2-label {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#s2-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#s2-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#s3 {
}

#s3>.slide-content {
}

section#s3 div.step {
}

#s3-label {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#s3-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#s3-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#s4 {
}

#s4>.slide-content {
}

section#s4 div.step {
}

#s4-label {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#s4-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#s4-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#testingEverything {
}

#testingEverything>.slide-content {
}

section#testingEverything div.step {
}

#testingEverything-list {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#testingEverything-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#testingEverything-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

#testingEverything2 {
}

#testingEverything2>.slide-content {
}

section#testingEverything2 div.step {
}

#testingEverything2-list {
    position: absolute;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
}

#testingEverything2-list-38 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-list-39 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-list-40 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-list-41 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-list-42 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-list-43 {
    position: relative;
    left: 50.00%;
    top: 50.00%;
    transform: translateY(-50%) translateX(-50%) ;
    font-family: inherit;
}

#testingEverything2-prev {
    position: absolute;
    left: 0.00px;
    top: 0.00px;
}

#testingEverything2-next {
    position: absolute;
    right: 0.00px;
    top: 0.00px;
}

