body {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	overflow: hidden;
}

p {
	margin: 0;
	padding: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
}

span {
	font-family: inherit;
	font-size: inherit;
}

.codeblock-caption {
	position: absolute;
	top: 2%;
	right: 2%;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	border-radius: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider:hover {
	opacity: 1;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

/*TODO Make it more specific*/
svg#custom-filters {
	display: none;
}

.vertical-center-parent {
	position: absolute;
	height: 100%;
	width: 100%;
}

.ui {
	z-index: 9;
}

.absoluteContent * {
	position: absolute;
}

.slide {
	height: 100vh;
	width: 100vw;
}

.step {
	height: -webkit-fill-available;
	position: absolute;
	width: -webkit-fill-available;
}

.transition {
	height: 100%;
	position: absolute;
	z-index: 8;
	top: 0px;
	width: 100%;
}


@keyframes fadeOut {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

section.invisible {
	display: none;
}

div.invisible {
	display: none;
}
